.jumbotron {
  padding-top: 100px;
  background-color: #ffd1d1;
}
@keyframes moveWave {
  0% {
    d: path(
      "M0,32L34.3,37.3C68.6,43,137,53,206,80C274.3,107,343,149,411,154.7C480,160,549,128,617,106.7C685.7,85,754,75,823,90.7C891.4,107,960,149,1029,181.3C1097.1,213,1166,235,1234,224C1302.9,213,1371,171,1406,149.3L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
    );
  }
  50% {
    d: path(
      "M0,64L34.3,74.7C68.6,85,137,107,206,128C274.3,149,343,171,411,176C480,181,549,171,617,160C685.7,149,754,139,823,144C891.4,149,960,171,1029,186.7C1097.1,203,1166,213,1234,197.3C1302.9,181,1371,139,1406,117.3L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
    );
  }
  100% {
    d: path(
      "M0,32L34.3,37.3C68.6,43,137,53,206,80C274.3,107,343,149,411,154.7C480,160,549,128,617,106.7C685.7,85,754,75,823,90.7C891.4,107,960,149,1029,181.3C1097.1,213,1166,235,1234,224C1302.9,213,1371,171,1406,149.3L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
    );
  }
}

svg path {
  animation: moveWave 10s ease-in-out infinite;
}

#projects{
  background-color: #ffd1d1;
}

section{
  padding-top: 2rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.about-us h1:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	margin: 0 auto;
	background-color: #2ecc71;
}

.card img{
  transition: 1s;
}

.card img:hover{
  transform: scale(1.1);
}